@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url('./css/client.css');

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder !important;
    color: darkred !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form label {
    font-size: 16px;
    color: darkred;
    font-weight: 500 !important;
    font-family: inherit;
}

form .form-control {
    background-color: white;
    border: 1px solid darkred;
    font-family: inherit;
}

form .form-control:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid red;
}

form button {
    text-align: center;
    width: 100%;
    padding: 15px 0px !important;
    margin-top: 10px;
    background-color: darkred !important;
    outline: none;
    box-shadow: none;
    border: none;
}

form button:hover {
    border: 2px solid white;
}

form button:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.container-fluid h2 {
    padding: 10px 0px 10px 0px;
}

.login-box {
    margin-top: 170px;
}

/* VIDEO CALL START */
.video_call {
    border: 0px solid lightsteelblue;
    height: 100vh;
}

.video_call .call_frame {
    margin: 10px 0px;
    height: 97%;
    border: 10px solid darkred;
    border-radius: 10px !important;
}

.side_frame {
    margin: 10px 0px;
    height: 97%;
    border: 10px solid darkred;
    border-radius: 10px !important;
}

.side_frame .call_window form {
    padding: 10px 0 0 0;
}

.side_frame .call_window form label {
    font-size: 20px;
    font-weight: bolder !important;
}